html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav li a {
  text-decoration: none;
  color: #b64c6e;
  border-bottom: 2px solid #d89fb0;
}

.quote, h2, p {
  margin-bottom: 0;
}

.btn-ghost {
  color: #b64c6e;
  border-color: #d89fb0;
  border-width: 2px;
  display: inline-table;
}

.line {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn-ghost:hover {
  background-color: #d89fb0;
  color: #860927;
  border-color: #d89fb0;
}

nav li a:hover {
  color: #860927;
}

footer {
  color: #474747;
  border-top: 1px solid #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

}
